* {
  outline: none;
}

.header-color {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
 
}

.mdl-layout {
  position: relative;
}

.landing-grid {
  background: #dbd8d9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.mdl-navigation__link {
  font-weight: bold !important; 
  font-size: 16px !important;
}

a.mdl-navigation__link:hover {
  color: yellow;  
}

.projects-grid {
  display: flex;
}

#about h1 {
  color: white;
}

#about {
  display: flex;
  flex-direction: column;
}

#about p {
  color: white;
  word-break: normal;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;
}

footer {
 display: flex;
 justify-content: center;
 color: white;
 background: rgb(36, 35, 35);
 height: 100%;
}

footer p {
  padding-top: 15px;
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
}

.mdl-tabs__tab {
  font-weight: bold !important;
}

.mdl-layout__drawer-button {
  display: none !important;
}

.projects-grid {
  flex-wrap: wrap;
}

.icons {
  color: white;
  word-spacing: 1px;
  margin-top: 50px;
}

.icons a {
  color: white;
  margin: 0 3px;
}

.mdl-layout, .mdl-grid.landing-grid {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: flex !important;
  }
  
  .mdl-grid.landing-grid {
    position: relative !important;
    height: 100% !important;
  }

  .mdl-layout {
    height: unset !important;
  }
}

@media screen and (max-width: 768px)
{
  .mdl-grid.landing-grid {
    position: none !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 700px)
{
  .mdl-layout__header {
    display: none !important ;
  }

  .mdl-layout-title {
    display: none !important;
  }

  .projects-grid { 
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 10px !important;
  }

  .landing-grid {
    position: relative;
  }

  .mdl-layout__header.mdl-layout__header--scroll.header-color {
    display: none;
  }
  .mdl-layout__drawer-button {
    display: block !important;
    color: #0072CF !important;
  }

  .mdl-layout__drawer-button:hover {
    color: goldenrod !important;
  }

  .mdl-navigation__link {
    color: #c31432 !important;
  }
}

@media screen and (max-width: 300px) {
  .mdl-grid.landing-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}