body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
<<<<<<< HEAD

#root, html, body {
  height: 100%;
}

.mdl-layout {
  height: inherit;
}

.mdl-grid.landing-grid{
  height: 100%;
  position: relative;
}
=======
>>>>>>> bdbf8632d6e35eb9669e112c2da24779e530a831
